attrs==22.1.0
autopep8==2.0.0
blessed==1.19.1
colorama==0.4.6
distlib==0.3.6
filelock==3.8.2
iniconfig==1.1.1
inquirer==3.0.0
numpy==1.23.5
packaging==21.3
pandas==1.5.1
platformdirs==2.6.0
pluggy==1.0.0
pycodestyle==2.10.0
pyparsing==3.0.9
pytest==7.2.0
python-dateutil==2.8.2
python-editor==1.0.4
pytz==2022.6
readchar==4.0.3
six==1.16.0
termcolor==2.1.1
tomli==2.0.1
virtualenv==20.17.1
wcwidth==0.2.5
